jupyterlab==4.2.5
setuptools==78.1.1  #required by simpy
six==1.16.0 #required by setuptools
simpy==4.1.1
matplotlib==3.8.3
pytest==8.0.2
ipywidgets==8.1.2
numpy==1.26
scipy==1.12.0
nxsim==0.1.2
networkx==3.2.1
